
html {
    background: rgb(199, 183, 42);
}

body {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(161, 157, 95, 0.774);
}

.general {
    padding: 10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.page-header {
    grid-area: header;
    font-size: 80px;
    background:rgb(145, 145, 1);
    font-style: italic;
}
.specials {
    grid-area: aside;
    background: rgb(145, 145, 1);
    font-size: 30px
}
nav{ 
    font-size: 20px;
    float: right;
    margin: 10px 70px;
    font-style: normal;
}

.menu{
    display: inline-block;
    list-style: none;
    width:100px; 
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    background-color: lightblue; 
}
.broodjes {
    height: 200px;
    width: 340px;
    border: 1px solid brown;
    background-color: rgba(161, 157, 95, 0.774);
    background-clip: padding-box;
    border-radius: 10px;
    list-style: none;
    margin: 10px;
    font-size: 20px;
}
img{
    max-width: 300px;
    height: auto;
    padding:35px 0px;
}
.verticaal{
    display:flex;
    flex-direction: column;
    text-align: left;
}

.horizontaal{
    display:flex;
    flex-direction: row;
    text-align: left;
}
.tabel{
    border: 1px solid brown;
    background-color: rgba(161, 157, 95, 0.774);
    border-radius: 10px;
    padding:20px;
    margin:50px;
    font-size: 20px; 
}
.wrapper{
    display:flex;
    margin:0px 130px;
}

@media screen and (min-width:770px){

body{
    grid-template-areas: "header header" 
    "main aside";
    grid-template-columns: 1fr 400px;
    
}
}