<h1>Currency convertor</h1>
<form>
<input type="number" name="bedrag" [(ngModel)]="bedrag"/>
<select name="valuta1"  name="startval" [(ngModel)]="startval">
  <option *ngFor="let rate of rates" value="{{rate}}"> {{rate}} </option>
</select>
<input type="button" name="btn1" id="btn1" value="Converteer" (click)="converteer()" [disabled]="controle()"/>
<select name="valuta1" name="resultval" [(ngModel)]="resultval">
  <option *ngFor="let rate of rates" value="{{rate}}" > {{rate}} </option>
</select>
<input type="number" name="uitkomst" [(ngModel)]="uitkomst"/>
</form>

