<h1>Currency convertor</h1>
<form>
<input type="number" name="bedrag" />
<select name="valuta1">
  <option value=*ngFor="let rate of rates" > *ngFor="let rate of rates" </option>
</select>
<input type="button" name="btn1" id="btn1" value="Converteer"/>
<select name="valuta1">
  <option value=*ngFor="let rate of rates" > *ngFor="let rate of rates" </option>
</select>
<input type="number" name="uitkomst" />
</form>


<!-- <tr ><td>{{school.naam}}</td>
  <td>{{school.adres}}</td><td>{{school.postcode}}</td><td>{{school.gemeente}}</td></tr> -->
